:root {
  --width-body-elements: 70vw;
  --height-body-elements: 80vh;

  /* Mobile media query large and small
  --mobile-min: 320px;
  --mobile-max: 480px;

   Tablet small media query
  --tablet-small-min: 481px;
  --tablet-small-max: 768px;

   tablet large media query
  --tablet-large-min: 768px;
  --tablet-large-max: 1024px; */


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
text, p, div, pre, span, strong, input, textarea, li, ul, b{
  color: var(--text-color)
}

h1, h2, h3, h4, h5, h6{
  color: var(--title-color)
}

body{
  background-color: var(--background-color);
}
.image-center-large {
  width: var(--width-body-elements);
  height: var(--height-body-elements);
  display: flex;
  margin: 5rem auto;

}
 
.image-center-large img {
  width: 100%;
  height: 100%;
  min-width: auto;
}

.general-info {
  width: 70vw;
  height: 60vh;
  margin: 9rem auto;
  display: flex;
  flex-direction: row;
}

.general-info-text {
  width: 30vw;
  line-height: 1.35;
  font-size: larger;
  width: 50vw;
  height: 60vh;
}

.general-info p {
  white-space: wrap;
  text-wrap: wrap;
  overflow: hidden;
  inline-size: 30vw;
  font-size: xx-large;
  overflow-wrap: break-word;
  margin-top: 1.5rem;
}
.general-info-button {
  width: 11vw;
  height: 3vw;
  background-color: var(--button-color);
  margin-top: 4vh;
  font-size: large;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.general-info-img {
  display: flex;
  width: 30vw;
  height: 45vh;
  justify-content: space-between;
  margin-left: 7rem;
}
.general-info-img img {
  width: 100%;
  height: 100%;
  margin: 1vw;
  min-width: 0;
  object-fit: cover;
  object-position: 70% 50%;
}

.menuCard {
  width: var(--width-body-elements);
  height: 150vh;
  display: flex;
  margin: 9rem auto;
  flex-direction: column;
}

.menuCard h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.menuCard img {
  width: 70vw;
  height: max-content;
  min-width: 0;
}

.menuCard-button {
  width: 16vw;
  height: 9vh;
  background-color: var(--button-color);
  margin-top: 4vh;
  margin-bottom: 4vh;
  font-size: large;
  align-self: center;
  border-radius: 40px;
  border-color: transparent;
  padding: 5px;
}

.menuCard-button a {
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}

.menuCard-reservation-background {
  display: flex;
  background-image: url(../assets/images/background_contact_information.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
}

.menuCard-reservation-background h1 {
  text-align: start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
  font-size: 4rem;
  margin-left: 6rem;
}

.menuCard-reservation-button {
  border-radius: none;
  margin-right: 6rem;
  background-color: var(--button-color);
  border-color: transparent;
  padding: 14px;
  width: 12vw;
}
.menuCard-reservation-button a {
  text-decoration: none;
  color: var(--text-color);
  font-size: x-large;
  font-weight: bold;
  font-size: large;
  
}
